[zimbra]
username = administrator
password = VerySecurePassword
server = https://example.com
port = 1234
zimbra_user = zimbra_user

[fabric]
server = example.com
zimbra_user = zimbra_user
keypath = ~/.ssh/zimbra_keys
zmprov_path = /opt/zimbra/bin/zmprov
zmaccts_path = /opt/zimbra/bin/zmaccts

[imap]
host = example.com
admin = administration
password = VerySecurePassword

[google]
google_admin = admin.user@example.com
google_domain = example.com
google_password = SuperDuperStrongPassword
temp_password = AVeryStrongTempPasswordForEveryUserInitially
